<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/APIsHome.css">
    <title>Movie API</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/profile" class="anim_a_href">My Profile</a></li>
                <li><a href="/education" class="anim_a_href">Education</a></li>
                <li><a href="/project" class="anim_a_href">Project</a></li>
                <li><a href="/contact" class="anim_a_href">Contact</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="APIs_Container">
        <div class="grid-item grid-item-1" id="titleText">
            <h1>Personal API Page</h1>
        </div>
        <div class="grid-item grid-item-2">

            <img src="../image/api_bk.png" alt="api" class="api_image">
            <div class="api_name" id="movieAPI">
                <h1>Movie API</h1>
                <h6 class="hidden_notice">(Click and Have Fun)</h6>
                {{!-- <h6 class="hidden_notice">(Under Construction...... )</h6> --}}
            </div>

        </div>
        <div class="grid-item grid-item-3">
            <img src="../image/api_bk.png" alt="api" class="api_image">
            <div class="api_name" id="gameAPI">
                <h1>Game API</h1>
                <h6 class="hidden_notice">(Under Construction...... )</h6>
            </div>

        </div>

    </div>
    <script src="../javascript/allPageShared.js"></script>
    <script src="../javascript/APIsHome.js"></script>
</body>

</html>