<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/transcript.css">
    <title>BCIT Transcript</title>
</head>

<body>
    <nav class="titleTag">
        <div class="barMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/profile" class="anim_a_href">My Profile</a></li>
            <li><a href="/education" class="anim_a_href">Education</a></li>
            <li><a href="/project" class="anim_a_href">Project</a></li>
            <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
            <li><a href="/contact" class="anim_a_href">Contact</a></li>
            <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
        </ul>
    </nav>
    <embed src="../transcript/BcitTranscript.pdf" type="application/pdf" width="100%" height="100%"></embed>
    <script src="../javascript/allPageShared.js"></script>
</body>

</html>