<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/contact.css" />
    <title>Contact Info</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/profile" class="anim_a_href">My Profile</a></li>
                <li><a href="/education" class="anim_a_href">Education</a></li>
                <li><a href="/project" class="anim_a_href">Project</a></li>
                <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>
        <div class="contactTitle">
            <h1>Contact Info Page</h1>
        </div>
        <img class="contactImage" src="../image/contact_bk.jpg">
        </img>
        <div class="contactContent">
            <img class="grid-item" id="emailIcon" src="../image/email.jpg" alt="email">
            <div class="grid-item" id="email">zhulei91225@hotmail.com</div>
            <img class="grid-item" id="linkedInIcon" src="https://www.LinkedIn.com/favicon.ico" alt="linkedIn">
            <div class="grid-item" id="linkedIn"><a href="https://linkedin.com/in/lei-zhu-923940137"
                    target="_blank">Lei's LinkedIn
                    Profile</a>
            </div>
            <img class="grid-item" id="weChatIcon" src="https://www.wechat.com/favicon.ico" alt="weChat">
            <div class="grid-item" id="weChat">ID: zhulei20209999</img>
            </div>
            <img class="grid-item" id="faceBookIcon" src="https://www.facebook.com/favicon.ico" alt="facebookIcon">
            <div class="grid-item" id="faceBook">ID: Lei2021</img>
            </div>
        </div>
        <script src="../javascript/allPageShared.js"></script>

</body>

</html>