<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/education.css" />
    <title>Education</title>
</head>

<body>
    <div class="education_body">
        <div>
            <nav class="titleTag">
                <div class="barMenu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="school_grid_container">
            <div class="grid-item grid-item-1">
                <h1>Education Page</h1>
            </div>
            <div class="grid-item grid-item-2">
                <img src="../image/bcit.png" class="school_img" id="BCIT_icon" alt="BCIT" />
                <div id="hidden_bcit_icon_notice">
                    <h3>Click To See Details</h3>
                </div>
            </div>
            <div class="grid-item grid-item-3">
                <div class="hidden_bcit_diploma">
                    <h3>Computer Information Technology Diploma</h3>
                    <button id="bcitTranscript">Transcript</button>
                </div>
            </div>
            <div class="grid-item grid-item-4">
                <img src="../image/centennial.jpg" class="school_img" id="Centennial_icon" alt=" Centennial" />
                <div id="hidden_centennial_icon_notice">
                    <h3>Click To See Details</h3>
                </div>
            </div>
            <div class="grid-item grid-item-5">
                <div class="hidden_centennial_diploma">
                    <h2>Police Foundation Diploma</h2>
                    <button id="centennialTranscript">Transcript</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../javascript/education.js"></script>
    <script src="../javascript/allPageShared.js"></script>


</body>

</html>