<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/eduDetailCentennial.css">
    <title>Centennial College Details</title>
</head>

<body>
    <nav class="titleTag">
        <div class="barMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/project">Project</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div id="eduDetailBody">
        <div class="box1">
            <button class="btn" id="box1_btn">
                <h1>Criminal Justice System</h1>
            </button>
            <div class="hidden_box" id="hidden_box1">

                <div class="techContent">The Court System</div>
                <div class="techContent">Right of Disclosure</div>
                <div class="techContent">Preliminary Hearing</div>
                <div class="techContent">Criminal Trial Procedure</div>
            </div>
        </div>
        <div class="box2">
            <button class="btn" id="box2_btn">
                <h1>Criminal Code & PolicePowers</h1>
            </button>
            <div class="hidden_box" id="hidden_box2">
                <div class="techContent">Criminal Code</div>
                <div class="techContent">Highway Traffic Act</div>
                <div class="techContent">Provincial Offences</div>
                <div class="techContent">Youth in Conflict with the law</div>
                <div class="techContent">Professional Police Standards</div>
                <div class="techContent">The Canadian Charter of Rights and Freedoms</div>

            </div>
        </div>
        <div class="box3">
            <button class="btn" id="box3_btn">
                <h1>Criminology for Policing</h1>
            </button>
            <div class="hidden_box" id="hidden_box3">
                <div class="techContent">Organized crimes</div>
                <div class="techContent">Drug Issues</div>
                <div class="techContent">Human Trafficking</div>
                <div class="techContent">Frauds</div>


            </div>
        </div>
        <div class="box4">
            <button class="btn" id="box4_btn">
                <h1>Communication Skills</h1>
            </button>
            <div class="hidden_box" id="hidden_box4">
                <div class="techContent">Issues In Diversity</div>
                <div class="techContent">Principles of Psychology</div>
                <div class="techContent">College Communication</div>
                <div class="techContent">Principles of Ethical Reasoning</div>
            </div>
        </div>
        <div class="box5">
            <button class="btn" id="box5_btn">
                <h1>Conflict Management</h1>
            </button>
            <div class="hidden_box" id="hidden_box5">
                <div class="techContent">Types of Stress</div>
                <div class="techContent">Method of coping with stress</div>
                <div class="techContent">Tactical Communication</div>
                <div class="techContent">Decision Making</div>
            </div>
        </div>
        <div class="box6">
            <button class="btn" id="box6_btn">
                <h1>Interviewing & Investigation</h1>
            </button>
            <div class="hidden_box" id="hidden_box6">
                <div class="techContent">Types of evidence</div>
                <div class="techContent">Admissibility</div>
                <div class="techContent">Laws / Rules of evidence</div>
                <div class="techContent">Beyond Reasonable Doubts</div>

            </div>
        </div>
    </div>
    <script src="../javascript/eduDetail.js"></script>
    <script src="../javascript/allPageShared.js"></script>

</body>

</html>