<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/gameAPIHome.css">
    <title>Game API Home</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/gameSearch" class="anim_a_href">Search</a></li>
                <li><a href="/gameFavorites" class="anim_a_href">Favorites</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>

        <div id="bodyPart">
            <div id="test">
                {{!-- <h1>Under Construction</h1>
                <h1>Coming Soon....</h1> --}}
            </div>
        </div>

    </div>

    <script src="../javascript/allPageShared.js"></script>
</body>

</html>