<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="login_body">
        <div class="login_card">
            <h1>Lei's Personal WebSite Entrance</h1>
            <br>
            <br>
            <br>
            <h2>Guest needs to login before browsing details</h2>
            <br>
            <br>
        </div>
        <table class="sign_in_table">
            <thead>
                {{!-- <th>
                        Has google account
                    </th>
                    <th>
                        Has no google account
                    </th> --}}
            </thead>
            <tbody>
                <th>
                    <a href="/lei2021.com/auth/google"><button class="login_with_google">GOOGLE
                            LOGIN</button></a>


                </th>
                <th>
                    <a href="/registerGuest"><button class="sign_in_with_guest"><img src=""
                                class="guest_icon"></img>QUICK
                            ACCESS</button></a>

                </th>
            </tbody>
        </table>
    </div>
    {{!-- <script src="../javascript/index.js"></script> --}}
</body>

</html>