<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/movieAPIHome.css">
    <title>Movie API Home</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/movieSearch" class="anim_a_href">Search</a></li>
                <li><a href="/movieFavorites" class="anim_a_href">Favorites</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>
        <div class="movieAPIBody">
            <div id="titleDiv">
                <img src="../image/title_img.png" alt="title_image" id="title_img">
                {{!-- <div id="titleText"> Welcome to my movie searching App</div> --}}

            </div>
            <div id="bodyPart">
                <div id="text_container">
                    <p class="row">
                    <main>
                        <strong>Use the navigation bar on the top to go through website's
                            features:</strong>
                    </main>
                    </p>
                    <sub>
                        <p class="row">
                            <strong>Home</strong> -
                            <cite>Return to this page</cite>
                        </p>
                        <p class="row"><strong>Search</strong> - <cite>Search for movies from TheMovieDB based on key
                                words,
                                actors
                            </cite> </p>
                        <p class="row"><strong>Favorites</strong> - <cite>Save your favorite movies into Database from
                                the
                                search</cite>
                        </p>
                        <p class="row"><strong>Logout</strong> - <cite>End your session</cite> </p>
                    </sub>
                </div>

            </div>
        </div>
    </div>

    <script src="../javascript/allPageShared.js"></script>
</body>

</html>