<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title>Profile</title>
</head>

<body>
    <nav class="titleTag">
        <div class="barMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
            <li><a href="/education" class="anim_a_href">Education</a></li>
            <li><a href="/project" class="anim_a_href">Project</a></li>
            <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
            <li><a href="/contact" class="anim_a_href">Contact</a></li>
            <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
        </ul>
    </nav>
    <div class="profile_body">
        <div class="profile_image_div">
            <div class="slides">
                <input type="radio" name="r" id="r1">
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                <div class="slide first_img">
                    <img src="../image/me1.jpg" alt="me1" id="myImg1" class="my_img" />
                </div>
                <div class="slide">
                    <img src="../image/me2.jpg" alt="me2" id="myImg2" class="my_img" />
                </div>
                <div class="slide">
                    <img src="../image/me3.jpg" alt="me3" id="myImg3" class="my_img" />
                </div>
                <div class="slide">
                    <img src="../image/me4.jpg" alt="me4" id="myImg4" class="my_img" />
                </div>
                <div class="slide">
                    <img src="../image/me5.jpg" alt="me5" id="myImg5" class="my_img" />
                </div>
                <div class="slide_navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                    <label for="r5" class="bar"></label>
                </div>
            </div>
        </div>
        <div id="profile_abstract_info">
            <h2>Lei Zhu</h2>
            <div class="learnedContentParent">
                <div class="learnedContent" id="box0">
                    <main>I am a new graduate. I completed two years of Computer Information Technology major study in
                        BCIT. In those two years of study, I’ve learned the following main aspects of knowledge and
                        skills:
                    </main>
                </div>
                <div class="learnedContent" id="box1">
                    <main class="boxTitle">Network:</main>
                    <sub> Proficient in network (Static and Dynamic) configuration, Subnetting, manage Iptable rules,
                        Ipv4 ports,protocols and automatic provisioning (by using Vagrant, Ansible playbook)</sub>
                </div>
                <div class="learnedContent" id="box2">
                    <main class="boxTitle">Web Development:</main>
                    <sub> Front-end web development (By using JavaScript and CSS, Python TKinter, C#. NET Windows Forms)
                        Back-end development (By using NodeJS, Python, React)
                        Full stack web development (C# .ASP .NET)</sub>
                </div>
                <div class="learnedContent" id="box3">
                    <main class="boxTitle">AWS Cloud:</main>
                    <sub> Hands-on experience with AWS Cloud account setup and configuration. Use AWS to
                        configure
                        web applications, deploy web-servers, lanuch instances, configure Route 53 and Elastic IP,
                        application load balancer, S3 Buckets, Events, etc.</sub>


                </div>
                <div class="learnedContent" id="box4">
                    <main class="boxTitle"> Applied IT Security:</main>
                    <sub>Hands-on experience in analyzing and creating Threat Modelling, set up and testing buffer
                        overflow experiment, SQL Injection PenTest, DDoS attacks, Cross Site Scripting(XSS), etc.</sub>
                </div>

                <div class="learnedContent" id="box5">
                    <main class="boxTitle">Database Administration:</main>
                    <sub>Hands-on experience in Database set up, backup, recovery, create event trigger,
                        optimizing
                        database search, configure database replication, replication fail-over, set up InnoDB cluster,
                        database status monitoring set up</sub>
                </div>
                <div class="learnedContent" id="box6">
                    <main class="boxTitle"> Data Analysis:</main>
                    <sub>Proficient in analyze raw datasets with EXCEL and R studio, exploratory data analysis (EDA),
                        graphical data analysis (GDA), making Decision Trees, using Artificial Neural Network (ANN) to
                        model
                        the relationship between inputs and outputs.</sub>
                </div>
            </div>
        </div>

        <div class="box contact_icon_parent">
            <a href="/contact"><img class="contact_icon_child" src="https://www.wechat.com/favicon.ico"
                    alt="WeChat" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.facebook.com/favicon.ico"
                    alt="FaceBook" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.LinkedIn.com/favicon.ico"
                    alt="LinkedIn" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.Twitter.com/favicon.ico"
                    alt="Twitter" /></a>
        </div>
        <div>
            <a href="/contact"><button id="profileBtn"> Contact</button></a>
        </div>
    </div>
    <script src="../javascript/allPageShared.js"></script>
    <script src="../javascript/profile.js"></script>
</body>

</html>