<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title>Profile</title>
</head>

<body>
    <nav class="titleTag">
        <div class="barMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
            <li><a href="/education" class="anim_a_href">Education</a></li>
            <li><a href="/project" class="anim_a_href">Project</a></li>
            <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
            <li><a href="/contact" class="anim_a_href">Contact</a></li>
            <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
        </ul>
    </nav>
    <div class="box generalCardStyle">
        <div id="profile_image_div">
            <img src="../image/me2.JPG" alt="me2" id="myImg" />
        </div>
        <div id="profile_abstract_info">
            <h2>Lei Zhu</h2>
            <div class="learnedContentParent">
                <div class="learnedContent" id="box0">
                    <p>I am a new graduate. I completed two years of Computer Information Technology major study in
                        BCIT. In those two years of study, I’ve learned the following main aspects of knowledge and
                        skills:
                </div>
                <div class="learnedContent" id="box1">
                    <div class="boxTitle">Network:</div>
                    <div> Proficient in network (Static and Dynamic) configuration, Subnetting, manage Iptable rules,
                        Ipv4 ports,protocols and automatic provisioning (by using Vagrant, Ansible playbook)</div>
                </div>
                <div class="learnedContent" id="box2">
                    <div class="boxTitle">Web Development:</div>
                    <div> Front-end web development (By using JavaScript and CSS, Python TKinter, C#. NET Windows Forms)
                        Back-end development (By using NodeJS, Python, React)
                        Full stack web development (C# .ASP .NET)</div>
                </div>
                <div class="learnedContent" id="box3">
                    <div class="boxTitle">AWS Cloud:</div>
                    <div> Hands-on experience with AWS Cloud account setup and configuration. Use AWS to
                        configure
                        web applications, deploy web-servers, lanuch instances, configure Route 53 and Elastic IP,
                        application load balancer, S3 Buckets, Events, etc.</div>


                </div>
                <div class="learnedContent" id="box4">
                    <div class="boxTitle"> Applied IT Security:</div>
                    <div>Hands-on experience in analyzing and creating Threat Modelling, set up and testing buffer
                        overflow experiment, SQL Injection PenTest, DDoS attacks, Cross Site Scripting(XSS), etc.</div>

                </div>

                <div class="learnedContent" id="box5">
                    <div class="boxTitle">Database Administration:</div>
                    <div>Hands-on experience in Database set up, backup, recovery, create event trigger,
                        optimizing
                        database search, configure database replication, replication fail-over, set up InnoDB cluster,
                        database status monitoring set up</div>
                </div>
                <div class="learnedContent" id="box6">
                    <div class="boxTitle"> Data Analysis:</div>
                    <div>Proficient in analyze raw datasets with EXCEL and R studio, exploratory data analysis (EDA),
                        graphical data analysis (GDA), making Decision Trees, using Artificial Neural Network (ANN) to
                        model
                        the relationship between inputs and outputs.</div>
                </div>
            </div>
        </div>

        <div class="box contact_icon_parent">
            <a href="/contact"><img class="contact_icon_child" src="https://www.wechat.com/favicon.ico"
                    alt="WeChat" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.facebook.com/favicon.ico"
                    alt="FaceBook" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.LinkedIn.com/favicon.ico"
                    alt="LinkedIn" /></a>
            <a href="/contact"><img class="contact_icon_child" src="https://www.Twitter.com/favicon.ico"
                    alt="Twitter" /></a>
        </div>
        <div>
            <a href="/contact"><button id="profileBtn"> Contact</button></a>
        </div>
    </div>
    <script src="../javascript/allPageShared.js"></script>
</body>

</html>