<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/project.css" />
    <title>Projects</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/profile" class="anim_a_href">My Profile</a></li>
                <li><a href="/education" class="anim_a_href">Education</a></li>
                <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
                <li><a href="/contact" class="anim_a_href">Contact</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>
        <div id="projectBody">
            <div class="box0">
                <h1>Project Participated</h1>
                <button data-show="show" id="goBack">Back</button>
            </div>
            <div class="box" id="box1">
                <button class="btn" id="box1_btn">
                    <h1>Mobile Application Web Development</h1>
                    <h1>React-Native Full Stack</h1>
                </button>
                <div class="hidden_box" id="hidden_box1">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Abstract</p>
                                <p>The project is a mobile application similar to Tinder. We
                                    set up and deploy the
                                    server on AWS cloud, and then run the App in our laptops and use our mobile phone to
                                    test this application in live.
                                </p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Purpose:</p>
                                <p>
                                    The purpose of this project is to make a mobile application. Through this
                                    application, you
                                    can quickly establish contact between football clubs and football players to meet
                                    their
                                    quick search and match with each other, so as to meet the other side of the club and
                                    athletes who want to find their favorite.</p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Process:</p>
                                <p>
                                    We first specify the plan and planning of the entire project in two weeks. Then we
                                    have
                                    weekly meetings with customers. Since customers often travel around the world,
                                    almost half
                                    of the meetings between us and customers are face-to-face and half are remote ZOOM
                                    meetings.
                                    Every week, customers put forward their ideas and suggestions, and then we use
                                    programming
                                    to fulfill customers' requirements. We developed this project in agile form. We use
                                    Github
                                    to complete version control. We set a master branch, and then everyone forked this
                                    branch
                                    into their own GitHub account as their own branch to modify, and finally we pushed
                                    our own
                                    code to the superior branch, and then merged them together after everyone reviewed
                                    and
                                    tested it.</p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Language used:</p>
                                <p>
                                    For this project, we mainly used React Native as the front-end, NodeJs as the
                                    back-end
                                    server, and MySQL as the database. We use Python and Jquery to connect and call the
                                    database.</p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">My part:</p>
                                <p>
                                    I am responsible for:
                                    The part that my group is responsible for is the establishment of the database
                                    structure and
                                    basic tables and their relationships, populate data for testing purpose. Design and
                                    development of customer landing pages, design and development of in-site navigation,
                                    back-end server development and debugging and testing.</p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Challenge:</p>
                                <p>
                                    When I was working on this project, I hadn’t learn react native yet, but our project
                                    mainly
                                    uses react native. So, I borrowed slide slides from my classmates and then taught
                                    myself by
                                    learning slides and watching YouTube and Udemy. Successfully completed the task
                                    assigned to
                                    me by the development team.</p>
                            </li>
                            <li class="projectContentListParagraph">
                                <p class="pTitle">Result:</p>
                                <p>
                                    In the final real-time demonstration at the end of that semester, our mobile
                                    application was well received by everyone. Our application has basically reached the
                                    basic function of finding and matching the other side of the club and the athletes'
                                    own favorite
                                    like the tinder App.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box" id="box2">
                <button class="btn" id="box2_btn">
                    <h1>NodeJs Full Stack Web Development</h1>
                </button>
                <div class="hidden_box" id="hidden_box2">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li>
                                <p class="pTitle">Purpose:</p>
                                <p>
                                    We transfer the customer's existing excel spreadsheet database and front-end web
                                    page to the
                                    MySQL database, and make a new front-end web page and new database line connection.
                                    In order
                                    to achieve the upgrade of the customer's existing older data system.</p>
                            </li>
                            <li>
                                <p class="pTitle">
                                    Process:</p>
                                <p>
                                    Our development team consists of 5 people.</p>
                            </li>
                            <li>
                                <p class="pTitle">
                                    Language used ：</p>
                                <p>
                                    For this project, we mainly used NodeJs as the back-end server, Javascript and CSS
                                    as the
                                    front-end web page, and MySQL as the database. We used Python and Jquery to connect
                                    and
                                    invoke the database.
                                    We meet face-to-face with customers every week to understand their needs and
                                    suggestions.
                                    Then each of our team members divided and cooperated to convert the customer's needs
                                    into
                                    computer programming codes. We first spent 2 weeks to formulate the plan and scope
                                    of the
                                    entire project. Then we use GitHub to complete the version control, and we use the
                                    Trello
                                    tool to monitor the agile methodologies weekly sprint completion.</p>
                            </li>
                            <li>
                                <p class="pTitle">
                                    My part:</p>
                                <p>
                                    The parts I am responsible for are:
                                    There are backup and modification of database construction, design of frame
                                    structure, and
                                    collation of the relationship between brothers' tables.
                                    Front-end web design and styling. Colleagues also help debug other students' webpage
                                    errors.
                                    Finally, test the integration of front-end and back-end to fix bugs.</p>
                            </li>
                            <li>
                                <p class="pTitle">
                                    Challenge:</p>
                                <p>
                                    Every week, customers will ask some new questions, asking us to add some new
                                    functions, or
                                    asking us to modify the functions they have decided the previous week. Simply put,
                                    customers
                                    often change their original plans and require new features. But as a developer, our
                                    mission
                                    is to maximize customer satisfaction. Therefore, we finally develop applications in
                                    accordance with customer requirements.</p>
                            </li>
                            <li>
                                <p class="pTitle">
                                    Result:</p>
                                <p>
                                    After the 11-week project, customers are very satisfied with our design and
                                    development.
                                    Customers also invited us to continue to make suggestions or maintenance for them
                                    after the
                                    end of the semester. However, we still have learning tasks, so we can only suggest
                                    that
                                    customers can continue to work with BCIT to allow future students to continue to
                                    follow our
                                    project.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box" id="box3">
                <button class="btn" id="box3_btn">
                    <h1>My movie Searcher</h1>
                </button>
                <div class="hidden_box" id="hidden_box3">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li>
                                <p class="pTitle">
                                    Style:
                                </p>
                                <p>Personal Project</p>
                            <li>
                                <p class="pTitle">
                                    Purpose: </p>
                                <p> Use movie API to search the movies you like and store them in database. This is also
                                    a full stack project when I started to learn nodejs 1.5 years ago</p>
                            </li>

                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <script src="../javascript/allPageShared.js"></script>
        <script src="../javascript/project.js"></script>
</body>

</html>