<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/project.css" />
    <title>Projects</title>
</head>

<body>
    <div>
        <nav class="titleTag">
            <div class="barMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard" class="anim_a_href">Dashboard</a></li>
                <li><a href="/profile" class="anim_a_href">My Profile</a></li>
                <li><a href="/education" class="anim_a_href">Education</a></li>
                <li><a href="/APIsHome" class="anim_a_href">APIs</a></li>
                <li><a href="/contact" class="anim_a_href">Contact</a></li>
                <li><a href="/auth/logout" class="anim_a_href">Logout</a></li>
            </ul>
        </nav>
        <div id="projectBody">
            <div class="box0">
                <h1>Project Participated</h1>
                <button data-show="show" id="goBack">Back</button>
            </div>
            <div class="box" id="box1">
                <button class="btn" id="box1_btn">
                    <h1>Mobile Application Web Development</h1>
                    <h1>React-Native Full Stack</h1>
                </button>
                <div class="hidden_box" id="hidden_box1">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Abstract</main>
                                <sub>The project is a mobile application similar to Tinder. We
                                    set up and deploy the
                                    server on AWS cloud, and then run the App in our laptops and use our mobile phones
                                    to
                                    test this application in live. The purpose of this project is to make a mobile
                                    application and through which
                                    athletes and soccer clubs world-wide
                                    could quickly establish connections between each other.
                                </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Process:</main>
                                <sub>
                                    We worked in Agile development style.
                                    We have weekly meetings with our sponsors
                                    face-to-face and in remote ZOOM.
                                    At every meeting, sponsors put forward their ideas and suggestions, and then we
                                    translate them in programming codes.
                                    We use Github to complete the version control. </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Language used:</main>
                                <sub>
                                    React Native to build the front-end,
                                    NodeJs to build back-end server, and MySQL as the relational database.
                                    We use Python and Jquery to connect and manipulate(CRUD) the database.</sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">My part:</main>
                                <sub>
                                    I was responsible for the establishment of the database
                                    structure and build tables and analysis their relationships, populate fake data for
                                    testing purpose. Design and
                                    build customer landing pages, multiple pages navigation, server set up and debugging
                                    and
                                    testing.</sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Challenge:</main>
                                <sub>
                                    When I was working on this project, I hadn’t learn react native yet, but our project
                                    was
                                    mainly built on react native. So, I borrowed slides from my friends and watched many
                                    YouTube tutorials. And successfully completed the tasks
                                    assigned to me in the project team.</sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Result:</main>
                                <sub>
                                    On the final presentation at the end of that semester, our mobile
                                    application was well received by sponsors and instructors.
                                </sub>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box" id="box2">
                <button class="btn" id="box2_btn">
                    <h1>NodeJs Full Stack Web Development</h1>
                </button>
                <div class="hidden_box" id="hidden_box2">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li class="projectContentListParagraph">
                                <main class="pTitle">Purpose:</main>
                                <sub>
                                    We transfer our sponsors' existing older data system (Excel Spreadsheet Database)
                                    and front-end web
                                    page to the
                                    MySQL database, and make a new front-end web page for them.
                                </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Process:</main>
                                <sub>
                                    Our development team consists of 5 people.
                                    We worked in Agile development style.
                                    We used Github to complete the version control.
                                    We used Trello to track and monitor developing progress.
                                    We had weekly meetings with our sponsors
                                    face-to-face.
                                    In Every meeting, sponsors would put forward their ideas and requirements, and then
                                    we
                                    translate their ideas into programming codes.
                                </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Language used ：</main>
                                <sub>
                                    We used NodeJs to build the back-end server.
                                    We used Javascript and CSS to build the front-end web page.
                                    We used MySQL to build the database. We used Python and Jquery to
                                    connect and manipulate(CRUD) the database.
                                </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    My part:</main>
                                <sub>
                                    I was responsible for analyzing the database
                                    structure and build tables and their relationships, populate fake data for
                                    testing purpose. Design and
                                    styling login pages, server set up and debugging and testing.
                                </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Challenge:</main>
                                <sub>
                                    Sponsors changed their original plans frequently. Sponsors always asked us to build
                                    new functionalities beyond what they have decided in the previous week. But as a
                                    developer, our mission is to maximize customers' satisfaction.</sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Result:</main>
                                <sub>
                                    After the 11-week project, sponsors were very satisfied with our work.
                                    sponsors also invited us to continue to make suggestions or maintenance for them
                                    after the
                                    end of the semester. However, we still had learning tasks, so we can only suggest
                                    that
                                    customers can continue to work with BCIT to allow future students to continue to
                                    follow our
                                    project.
                                </sub>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box" id="box3">
                <button class="btn" id="box3_btn">
                    <h1>My movie Searcher</h1>
                </button>
                <div class="hidden_box" id="hidden_box3">
                    <div class="projectContent">
                        <ul class="projectContentList">
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Abstract:
                                </main>
                                <sub>This is a full stack project of one of my Personal Project. It uses a public APIs
                                    service provided by TheMovieDB as a data source to manipulate data I needed to build
                                    my movie searcher application.</sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Purpose: </main>
                                <sub> The purpose of this project is practising how to manipulate a public API as a data
                                    source to
                                    retrieve data you need and transfer the data to my website. </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    Process: </main>
                                <sub> I used NodeJS to build the back-end Server. I used Javascript and CSS to build all
                                    the front-end pages. I used Mongoose Atlas cloud to build my database. I designed
                                    and built the
                                    whole website alone. </sub>
                            </li>
                            <br>
                            <li class="projectContentListParagraph">
                                <main class="pTitle">
                                    This project has been built into my website. Click the button below to play with
                                    the functioning Movie Search API:
                                </main>
                            </li>
                            <button id="movieAPIBtn">Click Me and Play with Movie API</button>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <script src="../javascript/allPageShared.js"></script>
        <script src="../javascript/project.js"></script>
</body>

</html>