<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/guestRegister.css">
    <title>Register Guest</title>
</head>

<body>
    <div class="guest_body">
        <div id="errorMessage">
            <h3>{{errorMessage}}</h3>
            <h3>{{errorMessage_confirmation}}</h3>
        </div>
        <div class="instruction_info">
            <h1>Create New User </h1>
        </div>
        <form action="/registerGuest" method="POST" class="guest_form">
            <h3 class="label_info">User Name</h3>
            {{!-- check input value and pattern--}}
            <input class="guest_form_input" type="text" class="userName"
                placeholder="Enter UserName (Note: Alphanumeric and/or '_')" name="username"
                oninvalid="alert('Username only accept letters and/or numbers and/or _ !');" pattern="^[a-zA-Z0-9_]+$"
                required>
            <h3 class="label_info">Password</h3>
            <input class="guest_form_input" type="text" class="password" placeholder="Enter Password" name="password"
                required>
            <h3 class="label_info">Confirm Password</h3>
            <input class="guest_form_input" type="text" class="password" placeholder="Confirm Password"
                name="confirm_password" required>
            <br>
            <br>
            <button class="guest_form_submit_btn" class="submit" type="submit">Create Guest</button>
        </form>
        <div id="registerGuestNav">
            <button class="nav_btn back_to_entrance" id="back_to_entrance">
                <h3>Back to Entrance Page</h3>
            </button>
            <button class="nav_btn signIn" id="signIn">
                <h3>Already a member? Sign In</h3>
            </button>
        </div>
        <div class="guest_register_existing_guest_list">
            <h4>Total Number of Guests Created: {{totalNumGuests}}</h4>
        </div>
    </div>
    <script src="../javascript/guestRegister.js"></script>
</body>

</html>