.contactTitle {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 23.6vh;
    line-height: 20vh;
}
.contactContent {
    position: absolute;
    width: 40vw;
    height: 40vh;
    left: 57%;
    top: 85%;
    transform: translate(-57%, -90%);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 8vh);
    grid-row-gap: 2em;
    grid-template-areas: "emailIcon email" "linkedInIcon linkedIn" "weChatIcon weChat" "faceBookIcon faceBook";
    line-height: 8vh;
}
#email {
    grid-area: email;
}
#emailIcon {
    grid-area: emailIcon;
}

#linkedInIcon {
    grid-area: linkedInIcon;
}
#linkedIn {
    grid-area: linkedIn;
}
#weChatIcon {
    grid-area: weChatIcon;
}
#weChat {
    grid-area: weChat;
}
#faceBookIcon {
    grid-area: faceBookIcon;
}
#faceBook {
    grid-area: faceBook;
}
.grid-item {
    border: 2px black solid;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
}
.contactImage {
    position: absolute;
    background-image: url("../image/contact_bk.jpg");
    background-size: 100% 100%;
    top: 29.2vh;
    left: -5%;
    width: 80vw;
    height: 15vh;
}
