.school_grid_container {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-row-gap: 8vh;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1px;
    grid-template-rows: repeat(3, 23.6vh);
    grid-template-areas:
        "EducationTitle EducationTitle"
        "BCIT_icon hidden_bcit_diploma"
        "Centennial_icon hidden_centennial_diploma";
}
.grid-item-1 {
    grid-area: EducationTitle;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 20vh;
}
.grid-item-2 {
    border: 1px black solid;
    position: relative;
    display: grid;
    grid-area: BCIT_icon;
}

.img_span {
    position: absolute;
    width: 102%;
    height: 102.6%;
    left: -1.15%;
    top: -1.3%;
    z-index: -1;
    border-radius: 0%;
}

.grid-item-2::before,
.grid-item-4::before {
    content: "Click Me";
    position: absolute;
    text-align: center;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.school_img {
    opacity: 1;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 23.1vh;
    object-fit: fill;
    z-index: -1;
    margin: auto;
}

.grid-item-3 {
    border: 1px black solid;
    grid-area: hidden_bcit_diploma;
    position: relative;
    background-image: url(../image/diploma.jpg);
    background-size: cover;
    font-size: x-large;
    text-align: center;
}
.grid-item-4 {
    border: 1px black solid;
    position: relative;
    display: grid;
    grid-area: Centennial_icon;
}
.grid-item-5 {
    border: 1px black solid;
    position: relative;
    grid-area: hidden_centennial_diploma;
    background-image: url(../image/diploma.jpg);
    background-size: cover;
    text-align: center;
    font-size: x-large;
}

#hidden_bcit_icon_notice,
#hidden_centennial_icon_notice {
    position: absolute;
    opacity: 0;
    width: 15vw;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
}

.grid-item-2:hover #hidden_bcit_icon_notice,
.grid-item-4:hover #hidden_centennial_icon_notice {
    opacity: 1;
    height: 100%;
    width: 100%;
    cursor: pointer;
    line-height: 23.6vh;
    transition: 0.3s ease-in-out;
}

#bcitTranscript,
#centennialTranscript {
    position: absolute;
    bottom: 10%;
    right: 3%;
    color: black;
    font-size: large;
    width: 20%;
    height: 20%;
    font-weight: bold;
    background-color: rgb(221, 212, 129);
    border-radius: 5px;
    cursor: pointer;
}

span {
    position: absolute;
    bottom: 9.3%;
    right: 2.72%;
    color: black;
    width: 20.5%;
    height: 21.4%;
    background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    border-radius: 5px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
#bcitTranscript:hover,
#centennialTranscript:hover {
    color: red;
    border: 1px red solid;
    font-weight: bold;
}

/* h1 {
    font-size: 70px;
    background: -webkit-linear-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
