body {
    background-image: url("../image/login_bk.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.login_card {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid green;
    /* width: 50vw; */
    max-width: 480px;
    height: 35.2vh;
    margin-top: 30vh;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sign_in_table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.login_with_google,
.sign_in_with_guest {
    border-radius: 10px;
    color: black;
    background-color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    margin: 1em;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
