.profile_body {
    text-align: center;
}

#profileBtn:hover {
    opacity: 0.7;
}
.contact_icon_parent {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 4.5vh;
    margin: auto;
    height: 4vh;
    width: 15vw;
}

.contact_icon_child {
    position: relative;
    width: 1.8vw;
    height: 2.8vh;
}
#profile_abstract_info {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 35vh;
}
.profile_image_div {
    height: 30vh;
    overflow: hidden;
    position: absolute;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.slide_navigation {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    width: 25px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    margin: 4px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {
    background-color: rgb(81, 255, 0);
}
/* hide radio input tag */
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slide {
    width: 25%;
    transition: 0.6s;
}
.my_img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .first_img {
    margin-left: 0%;
}
#r2:checked ~ .first_img {
    margin-left: -25%;
}
#r3:checked ~ .first_img {
    margin-left: -50%;
}
#r4:checked ~ .first_img {
    margin-left: -75%;
}
#r5:checked ~ .first_img {
    margin-left: -100%;
}
.learnedContentParent {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(8vh, auto-fit);
    border: 1px black solid;
    grid-template-areas: "box0 box0" "box1 box2" "box3 box4" "box5 box6";
}
.learnedContent {
    border: 1px black solid;
}
.learnedContent:hover {
    background-color: antiquewhite;
}
#box0 {
    grid-area: box0;
    border: 1px black solid;
    height: 7vh;

    font-weight: bold;
}
#box1 {
    grid-area: box1;
    display: grid;
}
#box2 {
    grid-area: box2;
}
#box3 {
    grid-area: box3;
}
#box4 {
    grid-area: box4;
}
#box5 {
    grid-area: box5;
}
#box6 {
    grid-area: box6;
}

#profileBtn {
    position: absolute;
    bottom: 1vh;
    width: 10vw;
    height: 4vh;
    left: 0;
    right: 0;
    margin: auto;
    font-size: medium;
    cursor: pointer;
}
#profileBtn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}
.boxTitle {
    font-weight: bold;
}
sub {
    font-size: 0.9em;
}
