#projectBody {
    position: relative;
    overflow: hidden;
    height: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: repeat(4, 23.5vh);
    text-align: center;
    grid-template-areas: "box0 box0" "box1 box1" "box2 box2" "box3 box3";
}

.box0 {
    position: relative;
    background-color: black;
    color: white;
    grid-area: box0;
    height: 100%;
    line-height: 20vh;
}
#box1 {
    position: relative;
    color: black;
    grid-area: box1;
    text-align: left;
}

#box2 {
    position: relative;
    grid-area: box2;
    text-align: left;
}
#box3 {
    position: relative;
    grid-area: box3;
    text-align: left;
}
.btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}
.hidden_box {
    color: black;
    font-weight: lighter;
    line-height: 1.05em;
    z-index: 2;
}
#goBack {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 3vh;
    border: 2px white solid;
    cursor: pointer;
}
#goBack:hover {
    background-color: rgb(184, 162, 162);
    color: black;
    font-weight: bold;
    border: 1px white solid;
}
.projectContentList {
    font-size: large;
}
.projectContentList li:hover {
    background-color: rgb(214, 210, 210);
    -webkit-text-fill-color: blue;
    font-size: large;
}
.pTitle {
    font-weight: bold;
}
#movieAPIBtn {
    position: fixed;
    height: 80px;
    width: 400px;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    font-size: x-large;
    font-weight: 500;
    /* background-color: black; */
    color: white;
    background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    /* animation: rotate 1.5s linear infinite; */
}
#movieAPIBtn:hover {
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    /* animation: none; */
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
